<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>nexus</id>
                    <name>nexus-public</name>
                    <url>https://artifact.intuit.com:443/artifactory/nexus-public</url>
                </repository>
                <repository>
                    <id>scm.int.repo2</id>
                    <url>http://sdgsdsintrepo.corp.intuit.net:8081/nexus/content/repositories/repo/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>scm.dev.repo</id>
                    <url>http://sds-repo-dev.intuit.com:8082/nexus/content/groups/repo</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>scm.int.repo</id>
                    <url>http://sdgsdsintrepo.corp.intuit.net:8081/nexus/content/groups/int</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
